body {
  background: linear-gradient(
    rgba(black, 0.6),
    rgba(black, 0.6)
  ),
    url('../assets/yos.jpeg');
  background-size: 2000px;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  box-sizing: border-box;
}

.Main {
  display: grid;
  grid-template-rows: 10% 40% 30%;
  grid-template-columns: 1fr 1fr;

  button:hover {
    cursor: pointer;
  }

  .forecast-buttons {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .seven-hour-button,
  .ten-day-button {
    width: 127px;
    height: 43px;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: white;
    border-radius: 10px 10px 0 0;
    
    &:focus {
      outline: none;
    }

  }

  .ten-day-button {
    margin-right: 1.5rem;
  }
  
  .clicked-button {
    background: linear-gradient(
      rgba(grey, 0.3),
      rgba(grey, 0.3)
    );
  }

  .hidden {
    display: none;
  }
}

.Welcome {
  width: 70%;
  margin: 10rem auto;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    font-weight: 300;
  }
}


