body {
  background: linear-gradient(
    rgba(black, 0.6),
    rgba(black, 0.6)
  ),
    url('../assets/yos.jpeg');
  background-size: 2000px;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 10% 40% 30%;
  grid-template-columns: 1fr 1fr;

  button:hover {
    cursor: pointer;
  }

  .seven-hour-button,
  .ten-day-button {
    grid-area: 2/2/3/3;
    width: 100px;
    height: 25px;
    align-self: end;
    justify-self: right;
    font-size: 1rem;
    border: none;
    margin-right: 20px;
  }

  .seven-hour-button {
    margin-right: 120px;
  }

}


