.current-weather {
  grid-area: 1/1/3/3;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 1fr;
  height: 67vh;

  .selected-location {
    grid-area: 1/2/2/3;
    margin: 1.5rem;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 400;
  }

  .current-weather-info {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
    margin-top: 2rem;

    h1 {
      font-size: 14rem;
      font-weight: 300;
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 2.5rem;
      text-align: center;
      margin: 0 1rem 0 0;
    }
  }

  .current-weather-icon {
    height: 7rem;
  }

  .current-day-forecast {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 6.9rem;

    h4 {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 10px;
      margin-top: .5rem;
    }

    .day-high-low {
      font-size: 2rem;
      margin: 0;
    }

    .day-summary {
      font-size: 1.3rem;
      font-weight: 300;
      margin-top: 1rem;
      padding-right: 1.5rem;
    }

  }

}