@media only screen and (max-width: 1025px) {
  html {
    max-height: 900px;
  }

  body {
    overflow: scroll;
    background-size: auto;
  }

  .search {
    width: 60vw;
  }

  .ten-day{
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    .card{
      width: 20%;
    }
  }
}



@media only screen and (max-width: 625px) {
  .Welcome {
    margin: 3rem auto;

    .search {
      width: 70vw;

      input {
        font-size: inherit;
        height: 2rem;

        &::placeholder {
          font-size: 0.8rem;
        }
      }
      
      .submit-button {
        font-size: 0.8rem;
      }
    }
  }

  .Main {
    .search {
      grid-area: 1/1/2/3;
      width: inherit;
      
      input {
        width: 68%;
        font-size: 1.3rem;
        height: 2rem;
        
        &::placeholder {
          font-size: 1.3rem;
        }
      }
      
      .submit-button {
        width: 30%;
        line-height: 1.5;
        height: 2rem;
      }
    }
    
    .forecast-buttons {
      grid-area: 3/1/4/3;
      align-items: inherit;
      margin: 0 1.5rem;
    }
    
    .seven-hour-button,
    .ten-day-button {
      width: 50%;
    }

    .ten-day-button {
      margin-right: 0;
    }

    .current-weather {
      grid-area: 2/1/3/3;
      
      .selected-location {
        grid-area: 1/1/2/3;
        margin: 1rem 0 0 0;
        text-align: center;
        font-size: 1.6rem;
      }
      
      .current-weather-info {
        grid-area: 2/1/3/3;
        align-items: center;
        padding: 0;
        margin: 0;
        
        h1 {
          font-size: 9rem;
        }
        
        p {
          margin: 0;
          font-size: 1.6rem;
        }
      }
      
      .current-weather-icon {
        height: 6rem;
        position: relative;
        top: 7rem;
        left: 12rem;
      }
      
      .current-day-forecast {
        grid-area: 2/1/3/3;
        margin: 6.9rem 2.4rem 0;
        
        h4 {
          font-size: 2rem;
          margin-top: 2.5rem;
        }
        
        .day-high-low {
          font-size: 1.3rem;
        }
        
        .day-summary {
          display: none;
          font-size: 1rem;
          padding: 0;
        }
      }
    }
    
    .seven-hour {
      flex-direction: column;
      margin-top: 2.7rem;
      
      .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: inherit;
        
        img {
          height: 4rem;
          margin-top: 1rem;
        }
      }
    }


    .ten-day {
      flex-direction: column;
      flex-wrap: inherit;
      margin-top: 2.7rem;
      max-height: 38rem;
      overflow-y: auto;
  
      
      .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 4rem;
        width: 100%;
        
        h3 {
          font-size: 1rem;
        }
        
        img {
          height: 3rem;
          width: 3rem;
          margin: 0;
        }
      }
    }
  }
}