.search {
  grid-area: 1/1/2/2;
  margin: 1.5rem;
  float: left;
  height: 2.5rem;
  width: 40vw;
  

  input {
    width: 78%;
    height: 100%;
    border: none;
    font-size: 1.5rem;

    &::placeholder {
      font-size: 1.5rem;
      padding-left: 1rem;
      color: lighten(#000, 85%)
    }
  }

  .submit-button {
    width: 21%;
    height: 2.05rem;
    border: none;
    border-left: 0.1rem solid lightgrey;
    outline: 1px solid #fff;
    color: #999999;
    line-height: 1.3;

  }
}