.search {
  margin: 1rem;
  float: left;
  height: 2.5rem;
  width: 40vw;
  

  input {
    width: 75%;
    height: 100%;
    border: none;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
      padding-left: 1rem;
      color: lighten(#000, 85%)

    }
  }

  button {
    width: 20%;
    height: 100%;
    border: none;
    border-left: 0.1rem solid lightgrey;
    outline: 1px solid #fff;
    font-size: 1rem;
    color: lighten(#000, 60%);
    padding-bottom: 1px;
    
  }
}